@font-face {
  font-family: 'Adca';
  src: url('assets/fonts/Adca.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Black Italic'), local('Lato-BlackItalic'),
      url('assets/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
      url('assets/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Light'), local('Lato-Light'),
      url('assets/fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'),
      url('assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'),
      url('assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Black'),
      url('assets/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Larke Sans Bold';
  src: local('Larke Sans Bold'),
      url('/assets/Larke\ Sans\ Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
