.layout-section {
  display: flex;
  min-height: 100vh;

  .content-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      flex: 1;

      .header-section {
          // TODO

      }

      .main-content {
          flex: 1;
          background-color: #FBFBFB;
          // padding: 50px;
          // padding-bottom: 0px;
      }

      .footer-section {
          background-color: #FBFBFB;
      }
  }
}
