<app-topbar></app-topbar>
<section class="terms-section p-5 d-block">
  <h1 class="d-block">Termos de Uso</h1>
  <hr />
  <article class="container d-block">
    <h2>1. APRESENTAÇÃO</h2>

    <p>
      O presente Acordo estabelece os termos obrigacionais que irão reger a
      relação jurídica entre o site sofitmanaus.com.br e seus Usuários
      (individualmente referidos como Usuário).
    </p>

    <p>
      O presente Acordo de Utilização é um contrato, ainda que firmado por meio
      eletrônico, e possui eficácia e validade jurídicas, em conformidade com a
      legislação civil em vigor (artigos 422 e 425 do Código Civil, Lei nº
      10.406/2002).
    </p>
    <p>
      O objetivo deste contrato é assegurar a efetivação de uma política de
      transparência, privacidade e segurança para ambas as partes envolvidas,
      que permita a melhor utilização do site por seus Usuários.
    </p>
    <p>
      Ao acessar o site sofitmanaus.com.br e cadastrar-se, é preciso que você
      leia e concorde com os termos do acordo de utilização, o qual poderá ser
      atualizado, visando adequar-se à legislação vigente e aos novos serviços.
    </p>
    <p>
      Ao utilizar os serviços do sofitmanaus.com.br, é preciso que você se
      obrigue a determinados deveres, abaixo detalhados e, no momento em que
      qualquer deles for violado, este contrato será automaticamente rescindido
      e poderá ensejar eventuais medidas judiciais, em caso de prejuízo em face
      da fornecedora dos serviços e/ou de terceiros.
    </p>
    <p>
      Caso a rescisão do presente contrato se dê por culpa exclusiva do Usuário,
      o mesmo não será reembolsado das quantias efetivamente despendidas.
    </p>
    <p>
      O Usuário poderá ter acesso ao presente Acordo de Utilização, a qualquer
      tempo, através da página https://sofitmanaus.com.br/termos-de-uso/
    </p>
    <p>
      Igualmente, o Usuário poderá armazenar o presente instrumento mediante o
      seguinte procedimento: em qualquer página deste site, acessar o link
      "termos de uso", localizado ao final da página, e em seguida, acessar o
      dispositivo "salvar como" ou similar, encontrado no menu de seu navegador,
      ou se preferir, o Usuário poderá imprimir o presente acordo para posterior
      consulta, ou para registro do contrato firmado entre as partes.
    </p>
    <p>
      Após a leitura atenta do teor deste contrato, e se for de seu interesse,
      indique – na caixa de aceitação – a sua concordância com o mesmo. Em caso
      de concordância com os termos do acordo de utilização dos serviços, marque
      a opção correspondente.
    </p>
    <p>
      Uma vez contratado, os deveres e as normas aqui transcritos
      considerar-se-ão lidos e deverão ser obrigatoriamente obedecidos. A partir
      do momento em que os serviços oferecidos neste site forem utilizados, a
      sua aceitação a este Termo estará sendo ratificada, indicando que o
      Usuário leu e concorda com o que está inserido em suas cláusulas.
    </p>

    <h2>
      2. DO SERVIÇO UTILIZADO
    </h2>
    <p>
      O sofitmanaus.com.br oferece serviços de entrega de produtos alimentícios
      fornecidos por Raquel da Silva Oliveira, por meio de um cardápio digital.
    </p>
    <p>
      A oferta de serviços virtuais não está sujeita a qualquer tipo de
      autorização prévia pelo simples fato de ser fornecida por meio eletrônico.
    </p>
    <p>
      O site se responsabiliza pela execução dos serviços que oferece aos seus
      Usuários.
    </p>

    <p>
      Os serviços do sofitmanaus.com.br somente serão oferecidos quando o site
      estiver no ar e disponível para acesso. Caso, temporariamente, o acesso ao
      site esteja interrompido para manutenção ou por outra razão, a prestação
      do serviço automaticamente será interrompida.
    </p>
    <p>
      Caso novos serviços sejam incorporados ao site sofitmanaus.com.br, os
      mesmos serão incluídos no presente Termo de Uso, incidindo,
      automaticamente, as regras já em vigor.
    </p>
    <p>
      O Usuário tem conhecimento e concorda que o serviço é fornecido pelo site
      sofitmanaus.com.br mediante acesso a World Wide Web através de
      dispositivos próprios para tanto, se responsabilizando, o Usuário, pelo
      equipamento técnico necessário como computador, softwares, modem etc, bem
      como pelo provedor de acesso à Internet.
    </p>
    <p>
      A manifestação de vontade das partes contratantes nos contratos celebrados
      por meio eletrônico dar-se-á no momento da aceitação dos termos deste
      contrato. Tal manifestação será sempre considerada como inequívoca.
    </p>
    <p>
      Caso o Usuário verifique algum dado errado, poderá o mesmo acessar a área
      ?Minha conta?, no site, e retificá-los a qualquer momento.
    </p>
    <p>
      Ainda não é possível efetuar compras pelo site, apenas agendar encomendas
      e acompanhá-las.
    </p>
    <h2>
      3. DA ASSOCIAÇÃO
    </h2>
    <p>
      O Usuário do sofitmanaus.com.br se compromete a fornecer dados pessoais
      verdadeiros, precisos, atuais e completos durante o procedimento de
      registro, cadastramento de seus dados e de cobrança dos valores pactuados,
      bem como a manter atualizadas as informações prestadas quando da
      associação.
    </p>
    <p>
      O endereço de correio eletrônico informado no ato do cadastro será
      utilizado somente para os fins autorizados pelos Usuários, assim como para
      responder às dúvidas ou enviar informações e serviços sobre o site aos
      Usuários.
    </p>
    <p>
      O fornecimento de falsa informação ou a utilização de informações de
      terceiros, constitui crime, qualificado no Código Penal Brasileiro. Caso
      decorra algum dano ou prejuízo a terceiros ou ao próprio
      sofitmanaus.com.br, em função da atitude ilegal de algum de seus Usuários,
      este será compelido a indenizar o sofitmanaus.com.br, sem prejuízo de vir
      a responder pelas perdas e danos respectivos.
    </p>
    <p>
      A sofitmanaus.com.br se reserva o direito de encerrar sua Associação no
      momento em que tiver conhecimento da falsidade ou da má-fé empregadas pelo
      Usuário, podendo impedir seu posterior regresso nos serviços oferecidos
      pelo site, sem quaisquer ressarcimentos.
    </p>
    <p>
      Ao início do processo de cadastramento, o Usuário deverá escolher uma
      senha e uma identificação pessoal, sendo, ele próprio, unicamente
      responsável pela senha que escolher e por mantê-la em sigilo.
    </p>
    <p>
      O Usuário compromete-se a notificar o site sofitmanaus.com.br sobre
      qualquer uso não autorizado de sua senha ou conta, bem como qualquer
      quebra de segurança que possa vir a ocorrer.
    </p>

    <h2>
      4. DA REVOGAÇÃO OU CANCELAMENTO DO ACORDO DE UTILIZAÇÃO
    </h2>
    <p>
      O presente acordo de utilização poderá ser rescindido ou suspenso, sem
      aviso prévio, pelo sofitmanaus.com.br em caso de inadimplência por mais de
      30 dias ou violação de quaisquer termos especificados neste contrato, em
      conformidade com o artigo 474, primeira parte, do Código Civil. Ainda que
      não esteja legalmente obrigado, o sofitmanaus.com.br poderá comunicar, via
      correio eletrônico, ao Usuário da inadimplência, rescisão ou suspensão de
      seus serviços.
    </p>
    <p>
      Em caso de rescisão do presente acordo, oriunda da violação de quaisquer
      termos aqui especificados por parte do Usuário, o sofitmanaus.com.br não
      restituirá ao mesmo as quantias já pagas.
    </p>
    <p>
      Uma vêz rescindido este contrato, a sofitmanaus.com.br poderá excluir
      todos os dados, arquivos, emails e informações do Usuário e dos serviços
      que este utilizava neste sistema ou nesta empresa.
    </p>

    <h2>
      5. DA POLÍTICA DE PRIVACIDADE E SEGURANÇA
    </h2>
    <p>
      Está disponível
      <a href="https://sofitmanaus.com.br/politica-de-privacidade"
        >nesta página</a
      >
    </p>
    <h2>
      7. DOS COOKIES
    </h2>
    <p>
      O Usuário, a partir do presente acordo, autoriza, expressamente, que o
      sofitmanaus.com.br utilize recursos, tais como, mas não limitados, a
      “cookies”, a fim de oferecer um serviço melhor e mais personalizado.
    </p>
    <p>
      Cookie representa uma pequena quantidade de dados, usualmente incluindo um
      identificador anônimo único, enviado a você por um site da web e
      armazenado no disco do seu computador.
    </p>
    <p>
      O Usuário pode configurar o seu navegador para aceitar todos os cookies,
      rejeitá-los ou ser notificado quando um cookie é enviado.
    </p>
    <p>
      Como cada navegador faz isso de uma maneira diferente, cheque a ferramenta
      de ajuda constante de seu navegador para saber como modificar as suas
      preferências sobre cookies.
    </p>
    <p>
      ATENÇÃO: Se o Usuário optar por rejeitar todos os cookies em seu
      navegador, não conseguirá utilizar todos os recursos e serviços oferecidos
      pelo sofitmanaus.com.br.
    </p>
    O sofitmanaus.com.br utiliza seus próprios cookies para vários propósitos,
    incluindo:
    <ul>
      <li>
        Conferir suas informações quando do acesso, de modo a dispor de conteúdo
        personalizado;
      </li>
      <li>
        Apresentar anúncios voltados ao seu perfil;
      </li>
      <li>
        Estimar o tráfego da página;
      </li>
      <li>
        Conduzir pesquisas para melhorar o conteúdo e os serviços do
        sofitmanaus.com.br;
      </li>
      <li>
        O sofitmanaus.com.br permite a outras empresas que estejam prestando
        serviços publicitários, ou veiculando publicidade através de nossos
        serviços a colocar e ter acesso a cookies em seu computador. A
        utilização de cookies por parte destas empresas é responsabilidade
        delas, e que estão estabelecidas em suas respectivas políticas de
        privacidade, e não na presente.
      </li>
    </ul>

    Os anunciantes ou outras empresas não têm acesso aos cookies do
    sofitmanaus.com.br.

    <h2>
      8. DAS OBRIGAÇÕES DO USUÁRIO
    </h2>
    <p>
      O Usuário se responsabiliza pela titularidade das informações que
      transmite ao site sofitmanaus.com.br.
    </p>
    <p>
      O Usuário deve fornecer dados corretos, exatos, precisos e atuais. Cada
      Usuário é pessoalmente responsável pelos dados que fornece.
    </p>
    <p>
      O sofitmanaus.com.br não se responsabiliza pela veracidade das informações
      prestadas por seus Usuários.
    </p>
    <p>
      O fornecimento de falsas informações configura crime de falsidade
      ideológica, tipificado no art. 299 do Código Penal, cuja pena está
      estabelecida entre um a três anos de reclusão, acrescido de multa.
    </p>
    <p>
      O fornecimento de falsa informação pelo Usuário dará direito ao
      sofitmanaus.com.br de excluir o Usuário, sem aviso prévio, seja em caráter
      temporário, pelo tempo que o sofitmanaus.com.br entender necessário para
      esclarecer a situação, ou em definitivo, a critério exclusivo do
      sofitmanaus.com.br, em razão da violação dos termos deste acordo, sem que
      o Usuário seja ressarcido das quantias já pagas.
    </p>
    <p>
      Os danos causados a terceiros pela utilização de informações falsas pelo
      Usuário sujeitará este último às penas da lei, bem como ao direito de
      regresso por parte do sofitmanaus.com.br.
    </p>
    <p>
      O Usuário manterá todas as informações fornecidas através do
      sofitmanaus.com.br em sigilo e não está autorizado a cedê-las ou
      divulgá-las, sem a expressa permissão do sofitmanaus.com.br.
    </p>
    <p>
      O Usuário não poderá violar, intencionalmente ou não, qualquer norma legal
      presente no sistema legal brasileiro e internacional, tampouco alegar
      desconhecimento das disposições normativas vigentes.
    </p>
    <p>
      O Usuário não poderá intervir no sistema de transmissão do
      sofitmanaus.com.br nem mesmo copiar, reproduzir, duplicar ou fazer uso do
      conteúdo do site para qualquer finalidade, sendo responsabilizado pelas
      práticas ilegais que fizer, nesse intento.
    </p>
    <p>
      Nossos servidores não podem ser usados para fazer upload, postar, enviar
      por email, transmitir ou disponibilizar de qualquer maneira qualquer
      conteúdo, material ou publicidade que: Você não tenha permissão de
      disponibilizar sob qualquer lei ou sob relações contratuais ou fiduciárias
      (como informação interna, informação proprietária e confidencial aprendida
      ou revelada como parte de uma relação empregatícia ou sob acordos de
      sigilo). Infrinja qualquer patente, marca registrada, direito de cópia ou
      qualquer outro tipo de direito de propriedade de qualquer entidade ou
      indivíduo. Não seja solicitada ou não autorizada, materiais promocionais,
      junk mail, spam, emails de corrente, esquemas de pirâmide, ou qualquer
      outra forma de solicitação, exceto em áreas (como lojas) que são
      designadas para estes propósitos. Contenha vírus de computador, ou
      qualquer código, arquivos ou programas projetados para interromper,
      destruir, ou limitar a funcionalidade de qualquer computador , software e
      hardware, ou equipamento de telecomunicação. Tenha propósito de distribuir
      arquivos, retransmissão ou fins de Streaming. seja ilegal, prejudicial,
      ameaçador, abusivo, ofensivo, injurioso, difamatório, vulgar, obsceno,
      calunioso, invasivo da privacidade de outras pessoas, odioso, ou racial,
      étnico ou censurável. Ferir menores de qualquer maneira. Personificar
      qualquer pessoa ou identidade, “perseguir” e/ou assediar outros. Forjar
      cabeçalhos ou manipular identificadores de qualquer forma a fim de
      esconder a origem de qualquer conteúdo transmitido pelo serviço.
      Interferir ou prejudicar o serviço ou servidores ou rede conectadas ao
      serviço, ou desobedecer qualquer requerimentos, procedimentos, politicas
      ou regulamentações das redes conectadas ao serviço. Violar uma lei local,
      estadual, nacional ou Internacional, com ou sem Intenção. Promover suporte
      material ou recursos (ou esconder a natureza, localização, fonte ou
      propriedade do suporte material ou recursos) para qualquer
      organização(ões) designada(s) pelos Estados Unidos como organização(ões)
      terrorista(s) internacional(is). Coletar ou armazenar dados sobre outros
      usuários. Utilizar nossos sistemas de forma abusiva, prejudicando o
      funcionamento de parte ou todo o sistema, ou utilizando mais de 50% da
      capacidade de um servidor, em qualquer recurso.
    </p>
    <p>
      Caso haja violação a qualquer dessas disposições ou de quaisquer outras
      que estejam no presente Acordo de Utilização, o sofitmanaus.com.br poderá,
      a seu critério, reduzir limites, encerrar a conta do usuário e bloquear em
      definitivo todo acesso ao site .
    </p>
    <h2>
      9.2. DAS IMAGENS E DO MATERIAL ANEXADO
    </h2>
    <p>
      O Usuário não poderá utilizar imagens que infrinjam direitos autorais, sob
      as penas da lei vigente.
    </p>
    <p>
      Eventualmente o sofitmanaus.com.br poderá recusar conteúdo e/ou imagens
      que estejam em desacordo com o padrão estabelecido pelo site ou em
      desacordo com a legislação em vigor.
    </p>
    <p>
      O Usuário não poderá copiar, reproduzir, transmitir, distribuir, publicar,
      explorar, ou de qualquer forma transferir qualquer material do
      sofitmanaus.com.br em qualquer formato, eletrônico ou não, para seu uso
      pessoal ou qualquer outra finalidade comercial ou não.
    </p>
    <h2>
      11. DOS LINKS
    </h2>
    <p>
      O sofitmanaus.com.br poderá, eventualmente, conter links de acesso a
      outros sites parceiros e/ou afiliados ou recursos na Internet. Caso haja o
      ingresso do Usuário em outro site, a relação jurídica dali decorrente não
      inclui o sofitmanaus.com.br, alcançando somente o Usuário e o site
      acessado.
    </p>
    <h2>
      14. DO FORO DE ELEIÇÃO
    </h2>
    <p>
      Em conformidade com a legislação em vigor, o foro para dirimir eventuais
      controvérsias que decorram deste contrato será o do consumidor.
    </p>
    <p>
      Caso o litígio decorrente do presente contrato não for caracterizado pela
      legislação consumerista, o foro de eleição será o foro da cidade do Manaus
      – AM.
    </p>
    <h2>
      15. DAS DISPOSIÇÕES FINAIS
    </h2>
    <p>
      Este Acordo será regido pelas leis do Brasil e atende ao sistema legal
      brasileiro, aos princípios gerais de direito e as normas internacionais de
      comércio eletrônico.
    </p>
    <p>
      Caso o Usuário não concorde com determinada cláusula deste Acordo, e
      obtenha judicialmente a nulidade da mesma, os demais dispositivos não
      serão prejudicados e permanecerão em vigor.
    </p>
    <p>
      AO UTILIZAR NOSSOS SERVIÇOS VOCÊ CONCORDA QUE LEU E COMPREENDEU OS TERMOS
      E DISPOSIÇÕES DESTE ACORDO DE UTILIZAÇÃO E ESTÁ CIENTE DE SEU INTEIRO
      TEOR, ACEITANDO SUAS CONDIÇÕES.
    </p>
  </article>
</section>
