<section class="header-section jumbotron overlay mb-0">
  <div class="container header-text d-flex justify-content-center flex-column text-center">
    <h1 class="display-4">Faça sua Encomenda!</h1>
    <!-- <p class="lead">É necessário fazer o pedido com um dia de antecedência</p> -->
  </div>
</section>
<section class="info-section">
  <div class="container py-4 py-md-5 d-flex justify-content-center flex-row text-center">
    <div class="list row w-100">
      <div class="col-sm-12 col-md-6 mb-3 mb-md-0">
        <i class="fas fa-clock fa-3x d-block mb-1"></i>
        <h4 class="font-weight-bold">Entregas</h4>
        Terças e quintas, das 8 às 18 horas
      </div>
      <div class="col-sm-12 col-md-6">
        <i class="fas fa-bullhorn fa-3x d-block"></i>
        <h4 class="font-weight-bold mb-0 mt-1 mb-2">Contato</h4>
          <a class="cool-btn instagram mr-2 my-1" href="https://www.instagram.com/sofitmanaus/" target="_blank">
            <i class="fab fa-instagram fa-lg mr-1"></i>
            @sofitmanaus
          </a>
          <a class="cool-btn whatsapp my-1" href="https://api.whatsapp.com/send?phone=5592981062827" target="_blank">
            <i class="fab fa-whatsapp fa-lg mr-1"></i>
            Sofit
          </a>
      </div>
    </div>
  </div>
</section>
