<section class="header-section jumbotron overlay mb-0">
  <div class="container header-text d-flex justify-content-center flex-column text-center">
    <h1 class="display-4">Faça sua Encomenda!</h1>
    <p class="lead">É necessário fazer o pedido com um dia de antecedência</p>
    <div class="list row">
      <div class="col mb-3 mb-md-0">
        <i class="fas fa-clock fa-3x d-block mb-1"></i>
        <h4 class="font-weight-bold">Disponibilidade</h4>
        <ul class="text-left pl-0 mb-0">
          <li>
            <b>Entrega</b>: Terças e quintas, das 8 às 18 horas.
          </li>
          <li>
            <b>Retirada</b>: Segunda a sexta, das 8 às 18 horas.
          </li>
        </ul>
        <span class="text-left d-block">
          Obs: Você ainda pode agendar encomendas fora do horário!
        </span>
      </div>
      <div class="col mb-3">
        <i class="fas fa-map-marker-alt fa-3x d-block mb-1"></i>
        <h4 class="font-weight-bold">Endereço de Retirada</h4>
        <span class="d-block">Av. Jorn. Umberto Calderaro Filho, 2200 Village Vert</span>
      </div>
      <div class="col mb-3">
        <i class="fas fa-motorcycle fa-3x d-block mb-1"></i>
        <h4 class="font-weight-bold">Pronta Entrega</h4>
        <div>
          Os produtos marcados com <div class="badge badge-success mr-1"><i class="fas fa-motorcycle"></i> <span class="badge-text font-weight-light ml-2">Pronta entrega</span></div>
          estão sempre disponíveis para retirada (dentro do horário de funcionamentp)
        </div>
      </div>
      <div class="col">
        <i class="fas fa-bullhorn fa-3x d-block"></i>
        <h4 class="font-weight-bold mb-0">Contato</h4>
          <a class="cool-btn instagram mt-3 mt-lg-3 mt-xl-3 mr-2 mr-lg-0 mr-xl-2" href="https://www.instagram.com/sofitmanaus/" target="_blank">
            <i class="fab fa-instagram fa-lg mr-1"></i>
            @sofitmanaus
          </a>
          <a class="cool-btn whatsapp mt-3 mr-2 mr-xl-0" href="https://api.whatsapp.com/send?phone=5592981062827" target="_blank">
            <i class="fab fa-whatsapp fa-lg mr-1"></i>
            Sofit
          </a>
          <a class="cool-btn mt-3 mr-lg-0" href="https://www.waze.com/ul?place=ChIJB6-CW7EabJIRrgtdf0Djg5A&ll=-3.09337940%2C-60.00895000&navigate=yes" target="_blank">
            <i class="fab fa-waze fa-lg mr-1"></i>
            Waze
          </a>
      </div>
    </div>
  </div>
</section>
