<footer class="pt-4 mt-md-5 pt-md-5 border-top w-100">
  <div class="row px-3 w-100">
    <div class="col-6 col-md">
      <h5>Sobre</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://www.instagram.com/sofitmanaus/"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li><a class="text-muted" href="https://api.whatsapp.com/send?phone=5592981062827"><i class="fab fa-whatsapp"></i> Whatsapp</a></li>
        <li><a class="text-muted" href="https://www.waze.com/ul?place=ChIJB6-CW7EabJIRrgtdf0Djg5A&ll=-3.09337940%2C-60.00895000&navigate=yes">Endereço</a></li>
        <li><a class="text-muted" href="" routerLink="/politica-de-privacidade">Política de Privacidade</a></li>
        <li><a class="text-muted" href="" routerLink="/termos-de-uso">Termos de uso</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-info px-3 mb-md-2">

    <div class="version-info">
      {{owner}} <span class="hide-on-minor">- Todos os direitos reservados.</span>
    </div>

    <div class="owner-info">
      v{{version}}
    </div>
  </div>
</footer>

