<section class="container-fluid pt-4 pb-4">
  <div class="card-deck row mx-0">
    <div class="card border-0 px-0 col-1 mb-3" *ngFor="let food of foods; let i = index;">
      <app-card-load *ngIf="false"></app-card-load>
      <div class='image-container'>
        <img (onStateChange)="imageCallback($event, i)" [defaultImage]="'assets/images/sofit-logo-nocircle.png'" [lazyLoad]="food.image" class="card-image" [alt]="food.title">
      </div>
      <div class="container d-flex flex-column justify-content-end h-100 gradient">
        <div class="card-footer font-weight-bold text-white border-top-0 pb-0 px-2">
          <div class="d-flex flex-row justify-content-between row">
            <div class="mb-0 food-title w-75">{{food.title}}</div>
            <div class="mb-0 w-25 d-flex flex-column justify-content-end text-left">
              <span class="price">
                <span class="symbol">R$</span>{{food.price + ",00"}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
