<app-topbar></app-topbar>
<section class="privacy-section p-5 d-block">
  <h1 class="d-block">Política de Privacidade</h1>
  <hr />
  <article class="container d-block">
    <p>Última atualização: 06/05/2020</p>
    <p>
      A Sofit ("sofitmanaus" ou "nós") está comprometida em proteger sua
      privacidade. Esta Política de Privacidade explica os métodos e os motivos
      pelos quais coletamos, usamos, divulgamos, transferimos e armazenamos suas
      informações. Se você tiver alguma dúvida sobre o conteúdo desta política,
      não hesite em nos contactar.
    </p>
    <p>
      Se você não concorda com a coleta e o uso de informações de ou sobre você
      de acordo com esta Política de Privacidade, não tem permissão para usar o
      Fireship ou qualquer serviço fornecido em https://sofitmanaus.com.br.
    </p>

    <h2>Lei Aplicada</h2>
    <p>
      Todas as informações pessoais relativas a clientes ou visitantes que usem
      nosso site serão tratadas em concordância com a Lei da Proteção de Dados
      Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).
    </p>
    <h2>Dados coletados</h2>
    <dl>
      <dt>Informações que você envia</dt>
      <dd>
        Armazenamos as informações fornecidas neste site por meio de
        formulários, pesquisas ou qualquer outro conteúdo interativo. Essas
        informações geralmente incluem, mas não se limitam a, nome, endereço
        para correspondência, endereço de email e arquivos enviados.
      </dd>
      <dt>Arquivos de log</dt>
      <dd>
        coletamos informações quando você usa os serviços fornecidos em nosso
        site. Essas informações podem incluir seu endereço IP, características
        do dispositivo e software (como tipo e sistema operacional),
        visualizações de página, URLs de referência, identificadores de
        dispositivo ou outros identificadores exclusivos. Os arquivos de log são usados ​​principalmente para
        melhorar a experiência do usuário.
      </dd>
    </dl>
    <p>
      O uso da Sofit pressupõe a aceitação deste
      <a
        href="http://sofitmanaus.com.br"
        title="acordo de privacidade"
        target="_blank"
        >Acordo de privacidade</a
      >. A equipe da sofitmanaus reserva-se ao direito de alterar este acordo
      sem aviso prévio. Deste modo, recomendamos que consulte a nossa política
      de privacidade com regularidade de forma a estar sempre atualizado.
    </p>
    <h2>Ligações a Sites de terceiros</h2>
    <p>
      A sofitmanaus possui ligações para outros sites, os quais, a nosso ver,
      podem conter informações / ferramentas úteis para os nossos visitantes. A
      nossa política de privacidade não é aplicada a sites de terceiros, pelo
      que, caso visite outro site a partir do nosso deverá ler a politica de
      privacidade do mesmo.
    </p>
    <p>
      Não nos responsabilizamos pela política de privacidade ou conteúdo
      presente nesses mesmos sites.
    </p>
    <h2>Entre em Contato</h2>
    <p>
      Se você quiser obter informações adicionais sobre esta política de
      privacidade, visite nossa página inicial em https://sofitmanaus.com.br ou
      entre em contato conosco pelo email sofitmanaus@gmail.com.
    </p>
  </article>
</section>
