/* You can add global styles to this file, and also import other style files */

/* Common Global SCSS */
@import "scss/partials/fonts";
// @import "scss/partials/common";
// @import "scss/partials/sections";
// @import "scss/partials/modals";

* {
  font-family: 'Lato';
  font-size: 1rem;
}

.clickable {
  cursor: pointer;
}
