$default-blue: #2A79BD;
$default-grey: #37424D;
$secondary-grey: #757575;
$another-grey: #9F9F9F;
$default-green: #91CD8B;

$toggle-checked-color: $default-green;
$toggle-disable-color: #ADADAD;

$btn-cancel-color: #BCBCBC;
$btn-confirm-color: $default-green;
