$default-blue: #4a829a;
$default-grey: #37424D;
$secondary-grey: #757575;
$another-grey: #9F9F9F;
$default-green: #91CD8B;

$toggle-checked-color: $default-green;
$toggle-disable-color: #ADADAD;

$btn-cancel-color: #BCBCBC;
$btn-confirm-color: $default-green;

$bg: #78d0e9;
$text: white;
$light-blue: lighten($bg, 5%);
$blue: #78d0e9;
$dark-blue: darken($bg, 10%);
$blue-border: #486067;
$blue-shadow: #ffe3e2;
$insta-gradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
