.card-title {
  font-weight: 300;
}

form {
  padding-top: 10px;
  font-size: 14px;

  .form-row > .col {
    padding-bottom: 10px;

    .invalid-feedback > div {
      font-size: 0.8rem;
    }

    .is-invalid {
      & + .input-group-append > .input-group-text {
        border-color: #dc3545 !important;
      }
    }

    .form-control {
      &.password,
      &.confirm-password {
        padding-right: 37px;
        background-image: none;
      }

      &:focus {
        & + .input-group-append > .input-group-text {
          border-color: #80bdff;
        }
      }
    }

    .input-group-append {
      justify-content: flex-end;
      margin-top: -38px;
      position: absolute;
      right: 5px;

      .input-group-text {
        background-color: transparent;
        padding: 0.65rem 0.75rem;
        border-left: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding-bottom: 0.61rem;

        .fa-eye {
          width: 20px;
        }
      }
    }
  }

  .btn-primary {
    font-size: 1.2rem;
    margin-top: 6px;
  }
}

@media screen and (max-width: 558px) {
  .col.text-secondary {
    display: flex;

    input {
      align-self: center;
    }
  }
}
