<section class="login-section">
  <div class="container">
    <div class="card login-form">
      <div class="card-body">
        <h3 class="card-title text-center">Login</h3>
        <div class="social-media d-flex justify-content-around">
          <button class="btn btn-primary facebook" type="submit" (click)="loginFacebook()"><i class="fab fa-facebook-f fa-lg"></i></button>
          <button class="btn btn-primary google" type="submit" (click)="loginGoogle()"><i class="fab fa-google fa-lg"></i></button>
        </div>
        <div class="or">
          <hr>
          <span>ou</span>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
