<nav class="navbar navbar-expand-lg navbar-light bg-light app-topbar px-0">
  <div class="px-3 nav-container d-flex justify-content-between">
    <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand p-0 mr-0" routerLink="/app/cardapio">
      <img src="/assets/images/sofit-logo-nocircle.png" alt="sofit logo">
    </a>
    <button class="navbar-toggler" type="button" aria-label="Ir para o carrinho">
      <i class="fas fa-shopping-bag text-white"></i>
    </button>
  </div>

  <div class="collapse navbar-collapse px-3 px-lg-0" [collapse]="navbarCollapsed" [isAnimated]="true">
    <ul class="navbar-nav mt-2 mt-lg-0 pr-lg-3 text-white">
      <li *ngIf="user; else signInUp" class="nav-item d-none d-lg-flex">
        <div class="dropdown show d-flex flex-column justify-content-center">
          <a class="btn dropdown-toggle pr-0" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="rounded-circle mr-2" [src]="photoURL" alt="User profile picture" width="25px" height="25px">
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="arrow-up"></div>
            <a href="" class="dropdown-item">
              Logado como <b class="d-block">{{firstName}}</b>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Perfil</a>
            <a class="dropdown-item">
              <span *ngIf="user; else login" (click)="signOut()">Sair</span>
              <ng-template #login>
                <span class="clickable" routerLink="/login/sign-in">
                  Entrar
                </span>
              </ng-template>
            </a>
          </div>
        </div>
      </li>
      <ng-template #signInUp>
        <li class="nav-item d-none d-lg-flex">
          <span class="d-flex flex-column justify-content-center mr-3 clickable" routerLink="/login/sign-in">Entrar</span>
          <button type="button" class="btn btn-outline-light" routerLink="/login/sign-up">Cadastre-se!</button>
        </li>
      </ng-template>

      <li class="nav-item d-lg-none py-2 py-lg-0 border-top-0" *ngIf="!user">
        <span class="d-flex flex-column justify-content-center mr-3 clickable" routerLink="/login/sign-in">Entrar</span>
      </li>
      <li class="nav-item d-lg-none pb-2 pt-3 py-lg-0" *ngIf="!user">
        <button type="button" class="btn btn-outline-light" routerLink="/login/sign-up">Cadastre-se!</button>
      </li>
      <li *ngIf="user" class="nav-item d-lg-none py-2 py-lg-0" [ngClass]="{'border-top-0': user}">
        <img [defaultImage]="'/assets/images/anonymous.png'" [lazyLoad]="photoURL" class="rounded-circle mr-2" alt="User profile picture" width="25px" height="25px">{{firstName}}
      </li>
      <li *ngIf="user" class="nav-item d-lg-none py-2 py-lg-0">
        <div (click)="signOut()">
          <i class="fas fa-sign-out-alt"></i> Sair
        </div>
      </li>
    </ul>
  </div>
</nav>
