.app-topbar {
  background-color: #4a829a !important;
  min-height: 65px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;

  .nav-container {
    backface-visibility: hidden;

    .navbar-toggler {
      border-color: white !important;
      height: 40px;
      margin-top: 6px;

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    }
  }

  .page-title {
    margin-bottom: 0px;
    color: white;
    margin-left: -6px;
    line-height: 48px;
  }

  .navbar-collapse {
    background-color: #4a829a;

    .profile-picture {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .dropdown-toggle {
      background-color: transparent;
      border-color: transparent;

      &::after {
        color: white;
      }

      + .dropdown-menu {
        margin-left: -96px;
        box-shadow: 0 1px 15px rgba(27,31,35,.15);

        .arrow-up {
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          right: 9px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid white;
          margin-top: -7px;
        }
      }
    }
  }

  .navbar-brand > img {
    width: 34px;
    height: 51px;
  }
}

@media screen and (min-width: 992px) {

  .nav-container {
    justify-content: flex-end !important;
    flex-direction: row-reverse;
  }

  .page-title {
    margin-left: 12px !important;
  }

  .navbar-collapse {
    display: flex;
    justify-content: flex-end;

  }

}

@media screen and (max-width: 992px) {

  .nav-container {
    width: 100%;
  }

  .nav-item {
    border-top: 1px solid hsla(0,0%,100%,.15)
  }
}
