form {
  font-size: 14px;

  .btn {
    font-size: 1.1rem;
    margin-top:20px;
  }

  .login-form {
    width:330px;
    margin:20px;
  }

  .sign-up {
    text-align:center;
    padding:20px 0 0;
  }
}


