<h3 class="card-title text-center">Login</h3>
<div class="social-media d-flex justify-content-around">
  <button class="btn btn-primary facebook" type="submit" (click)="loginFacebook()"><i class="fab fa-facebook-f fa-lg"></i></button>
  <button class="btn btn-primary google" type="submit" (click)="loginGoogle()"><i class="fab fa-google fa-lg"></i></button>
</div>
<div class="or">
  <hr>
  <span>ou</span>
</div>
<div class="card-text">
  <form [formGroup]="signInForm" (ngSubmit)="login()" novalidate>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control form-control-sm"
        id="email"
        aria-describedby="emailHelp"
        formControlName="email"
        [ngClass]="{ 'is-invalid': isSubmitted && formControls.email.errors }"
      />
      <div *ngIf="isSubmitted && formControls.email.errors" class="invalid-feedback">
        <div *ngIf="formControls.email.errors.required">Campo obrigatório</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <button type="button" class="btn btn-link float-right p-0 border-0" (click)="forgotPassword()">Esqueceu a Senha?</button>
      <input
        type="password"
        class="form-control form-control-sm"
        id="password"
        formControlName="password"
        [ngClass]="{ 'is-invalid': isSubmitted && formControls.password.errors }"
      />
      <div *ngIf="isSubmitted && formControls.password.errors" class="invalid-feedback">
        <div *ngIf="formControls.password.errors.required">Campo obrigatório</div>
      </div>
    </div>
    <button [disabled]="loading" type="submit" class="btn btn-primary btn-block">
      Entre
      <app-loader *ngIf="loading"></app-loader>
    </button>

    <div class="sign-up">
      Não tem uma conta? <a href="#" routerLink="/login/sign-up">Crie uma aqui</a>
    </div>
  </form>
</div>
